
<partial name="_Notification" />
<h4 class="text-primary">Welcome to our website @ViewBag.Message</h4>
<br />
    <div class="form-group">
        <a asp-action="Logout" class="btn btn-secondary">Logout</a>
    </div>

